.footerColumn{
    color: white;
    border:1px solid white;
    border-radius: 0.3em;
    padding: 1.5em;
}
.footerIcon {
    color:white;
    font-size: 40px;
}

#fbFont:hover {
    color:#2f487c;
}
h4{
    margin-bottom: 1em;
}
#twFont:hover {
    color: #0084b4;
}

#ghFont:hover {
    color: #b4b4b4;
}

footer a{
    color:white;
}

footer a:hover {
    color: white;
}

footer a:visited {
    text-decoration: none;
}
.btn-secondary{
    color:black !important;
    background-color: white !important;
    
}
footer {
    background-color: #1c1c1c !important;
    columns: white;
}