.borderform {
  border: solid 2px #efa747;
}
.privacyStatement {
  white-space: pre;
  overflow: auto;
}
.wijzigButton {
  color: white;
}
.eula {
  text-decoration: none;
}
.formContainer {
  text-align: center;
}
.board {
  border: 2px solid red;
}
