.backGround{
    background: url('../img/background/chess-background-10.jpg');
    background-size: cover;
    height: 500px;
}

#pawnSelecter {
    position: absolute;
    color: red;
    left: 0;
    font-size: 100px;
}