html p{
    margin:0em;
}
.wrapperNavHeader{
    padding: 0em;
}
/* === Headermenu === */
.headerMenu a{
    text-decoration: none;
}
.headerMenu ul{
    margin-top: 1em;
}
 /* === */
.pawnIcon{
    font-size: 2em;
    color: #efa747;
    margin: 0.07em;
}
/* ==== */
.shopName{
    margin: 0em;
    font-size: 2em;
    color: #10000C !important;
}
.shopName > p{
    margin-bottom:0em;
}
/* searchbar */
button.searchIcon{
    margin:-40px;
    z-index: 100;
    /* background-color: none;
    border-color: none; */
}
/* === */
.menuService a{
    color: #10000C !important;
    text-decoration: none !important;
    font-size: 1.2em;
    font-variant: small-caps;
}
.menuService li{
    color: #10000C !important;
    list-style: none;
    padding: 0em;
}
.menuService a:hover{
    text-decoration: #1c1c1c;
}
@media (max-width: 48em){
.menuService {
    display: block;
    margin: 0;
    padding: 2rem 1.5rem;
    z-index: 3;
}
}
/* .menuService li + li::before {
    white-space: pre;
    content: " | ";
    color: #efa747;
} */
/* .wishlist .count {
    background: #0a0610;
    border: .1rem solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    height: 1.5rem;
    line-height: 1.2rem;
    text-align: center;
    transform: translateY(-.2rem);
    width: 1.5rem; */

/* === */
.spelwijzer a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}
.personalPage a:hover{
    text-decoration: blue !important;
}
.personalPage a, a:visited{
    text-decoration: none;
    color: black;
}
.shoppingCart .btn-primary{
    color:#1c1c1c!important;
    background-color: white !important;
    border: none !important;
}
.badge{
    border: 1px solid #1c1c1c !important;
}

/* === Navbar === */
.navbar{
    background-color: #1c1c1c !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
button.navbar-toggler{
    outline:none;
}
