
.board {
    border: solid red 1px;
}

.borderBottom {
    border-bottom: solid grey 3px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
/* === cards === */
.card{
    border:0.05em solid #2b2523 !important;
}

.card-img-top{
    object-fit: contain; 
} 
.img-thumbnail{
    border: none !important;
}

.productDesc {
    max-height: 11em;
    position: relative;
    overflow: hidden;
}

.textFader {
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    margin: 0; padding: 30px 0; 
    background-image: linear-gradient(to bottom, transparent, #ffffff)
}
.cardDesc{
    background-color: #1c1c1c;
    border-radius: 0.3em;
    text-align: center;
}
.btn-primary{
    color:black!important;
    background-color:white !important;
    border: 2px solid #ec7711 !important;
    font-variant: small-caps;
}
.priceBox{
    color: white;
}

/* === big sale card ===*/

.bigSquare {
    margin-left: 5%;
    margin-top: 20%;
}

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }

  .ribbon span {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #000;
    background: linear-gradient(#Ec7711 0%, #8c7547 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
  }

  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8c7547;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8c7547;
}

.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8c7547;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8c7547;
}
.kickstarter {
    position: absolute;
    top: 160px;
    right: 10px;
    z-index: 100000;
}
